.dropdown {
  position: relative;
  width: 180px;
  cursor: pointer;
}

.selected {
  padding: 10px;
  border: 1px solid #e0e0e0;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  height: 45px !important;

  span {
    color: #b1b1b1;
  }
}

.options {
  position: absolute;
  width: 100%;
  margin-top: 5px;
  list-style: none;
  padding: 0;
  background: #f5f4f4;
  border: 1px solid #e0e0e0;
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
}

.option {
  padding: 10px;
  cursor: pointer;
}

.option:hover {
  background-color: #5556a6;
  color: #fff;
}
