.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}
.validationError {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.formWrapper {
  background: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  height: 400px;
  max-width: 400px;

  .logoSVG {
    margin-left: 18%;
    margin-bottom: 20px;
  }

  .formContent {
    margin-top: 20px;
  }
}

.headerSection h2 {
  margin-bottom: 1.75rem;
  color: #333;
  font-size: 18px;
}

.inputGroup {
  display: flex;
  align-items: center;
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 0.5rem;
  margin-bottom: 1rem;
  width: 336px;
  height: 34px;
  background-color: #ced1d4;
}

.inputGroup img {
  margin-right: 10px;
  cursor: pointer;
}

.input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: 1rem;
}

.button {
  padding: 0.8rem;
  border: none;
  border-radius: 5px;
  background: #5556a6;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
  width: 336px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonLoading {
  background: #6c757d;
  cursor: not-allowed;
}

.forgotPass {
  font-size: small;
  margin-top: 1rem;
  color: #5556a6;
  cursor: pointer;
}

.forgotPass:hover {
  text-decoration: underline;
}

.openEye,
.closedEye {
  cursor: pointer;
}
